{% extends 'users/base.html' %}

<script>
    $(document).ready(function () {
        setTitle("Pit Data");
    });
</script>

{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/data.css">
<link rel="stylesheet" href="../../static/users/assets/css/hub.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{%endblock styles%}
{%block content%}



<script>
    $.get("https://www.thebluealliance.com/api/v3/team/frc" + '{{object.team_num}}' + "/simple", {
        "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
    }, function (data) {
        var jObject = (data);
        $("#nickname").html(jObject['nickname']);
    })
</script>


<script>
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("incoreect-btn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    var cb = document.getElementById('flag-cbx');

    var confirmBtn = document.getElementById('flag-btn');

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    confirmBtn.onclick = function () {
        document.getElementById("flag-cbx").checked = true;
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            document.getElementById("flag-cbx").checked = false;
        }
    }
</script>
<hr>
<center>






    <div class="flex bg-gray-50 dark:bg-gray-900">
        <!-- Desktop sidebar -->

        <!-- Mobile sidebar -->
        <!-- Backdrop -->


        <div class="flex flex-col flex-1 w-full">





            <main class="h-full overflow-y-auto">

                <div class="container px-6 mx-auto grid">
                    <div class='flex justify-between'>
                        <div>

                            <h2 class="mt-6 text-left text-2xl font-semibold text-gray-700 dark:text-gray-200">
                                Pit Data for Team {{object.team_num}}
                            </h2>
                            <h2 class='mb-3 mt-1 text-xl font-semibold text-gray-400 text-left' id='nickname'></h2>
                        </div>
                        <button onclick='location.href="{% url 'pit-flag-view' pk=object.pk %}"'
                            class='inline-flex mt-6 w-14 h-14 items-center text-lg justify-center font-semibold tracking-wide text-white transition duration-200 bg-red-500 rounded-lg hover:bg-red-600'>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
                            </svg>
                        </button>
                    </div>


                    <!-- CTA -->


                    <!-- Cards -->
                    <div class="grid gap-6 mb-8 mt-4 md:grid-cols-2 xl:grid-cols-2">
                        <!-- Card -->
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Robot weight
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_weight}}
                                </p>
                            </div>
                        </div>
                        <!-- Card -->
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-left text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Robot height
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_highlow}}
                                </p>
                            </div>
                        </div>
                        <!-- Card -->
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Robot width
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_frame_width}} in
                                </p>
                            </div>
                        </div>
                        <!-- Card -->
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-left text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Robot length
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_frame_length}} in
                                </p>
                            </div>
                        </div>
                        <!-- Card -->
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Robot drivetrain
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_drivetrain_type}}
                                </p>
                            </div>
                        </div>
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-left text-sm font-medium text-gray-600 dark:text-gray-400">

                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">

                                </p>
                            </div>
                        </div>
                        <!-- Card -->
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-left text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Robot vision type
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_vision_type}}
                                </p>
                            </div>
                        </div>
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">


                            <div>
                                <p class="mb-2 text-left text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Is vision implemented
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_vision_implement}}
                                </p>
                            </div>
                        </div>
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-left text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Does the robot climb
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_climb}}
                                </p>
                            </div>
                        </div>
                        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                            <div>
                                <p class="mb-2 text-left text-sm font-medium text-gray-600 dark:text-gray-400">
                                    Does the robot help others climb
                                </p>
                                <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                    {{object.robot_climb}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                Notes
                            </p>
                            <p class="text-lg font-semibold text-left text-gray-700 dark:text-gray-200">
                                {{object.notes}}
                            </p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>



    {%endblock content%}
    <!--This is really bad formatting but it looks really cool so im keeing it-->