{%extends 'users/base.html'%}
{% load widget_tweaks %}
{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/scout.css">

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>
<script>
    $(document).ready(function () {
        $("#teamNumber").on("input", function () {
            var teamNumber = $("#teamNumber").val();
            $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple", {
                "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
            }, function (data) {
                var jObject = (data);
                $("#tba-link").attr('href', 'https://www.thebluealliance.com/team/' +
                    teamNumber);
                $(".teamNameChange").html(jObject['nickname']);
            }).fail(function () {
                $(".teamNameChange").html("Invalid team number...");
            });
        });
    });

    async function changeTeamName() {
        var teamNumber = $("#teamNumber").val();
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple", {
            "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
        }, function (data) {
            var jObject = (data);
            $(".teamNameChange").html(jObject['nickname']);
        }).fail(function () {
            $(".teamNameChange").html("Invalid team number...");
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#select-comp-dropdown').change(function () {
            var opt_val = $('#select-comp-dropdown option:selected').text();
            $('#getCompDrop').val(opt_val);

        });

    });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>FRCS Scouting</title>
</body>
<style>
    .darkmode--activated i {
        color: black;
    }

    #getCompDrop{
        display:none;
        visibility:hidden;
    }
</style>


<div class="">
    <main class=" overflow-y-auto">
      <div class="container px-6 mx-auto grid">
        <div class=>
        <h2 class="my-6 mb-0 text-2xl font-semibold text-gray-700 dark:text-gray-200">
          Match Scouting
        </h2>
        <h2 class='mb-3 mt-1 text-xl font-semibold text-gray-400 text-left' id='nickname'>Test team name</h2>


                
                
            </div>

<div class='lg:w-2/5 sm:w-3/5 w-11/12 mx-auto'>
        <p class='text-2xl font-semibold text-center mt-10 text-black mb-3'>General Info</p>
        <p class='text-2xl font-semibold text-center mt-10 text-black mb-3'>Pregame</p>
        <p class='text-2xl font-semibold text-center mt-10 text-black mb-3'>Autonomous</p>
        <p class='text-2xl font-semibold text-center mt-10 text-black mb-3'>Midgame</p>
        <p class='text-2xl font-semibold text-center mt-10 text-black mb-3'>Endgame</p>
        <p class='text-2xl font-semibold text-center mt-10 text-black mb-3'>Overall</p>

        <button class='btn-default'>Submit Data</button>
</div>
        </form>
</div>


</div>




<br>
<script src="../../static/users/assets/js/GetScoutData.js"></script>

<script>
    $(document).ready(function () {
        window.onload = async function getComps() {
            team_num = $('#teamNumber').val()
            $.get("https://www.thebluealliance.com/api/v3/team/frc" + {{request.user.team_num}} + "/events/2020", {
                "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
            }, function (data) {
                var jObject = (data);

                for (i = 0; i < 5; i++) {
                    console.log(jObject[i]['name'])
                    $('#select-comp-dropdown').append('<option key=' + jObject[i]['event_code'] + '>' + jObject[i]['name'] + '</option>')
                    
                }

            })
        }
    })
</script>
 <script>

            $( "#select-comp-dropdown" ).keyup(function() {

            team_num = $('#teamNumber').val()
            var opt_val = $('#select-comp-dropdown').val();

            $.get("https://www.thebluealliance.com/api/v3/team/frc" + team_num + "/events/2020/simple", {
                "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function (data) {
                var jObject = (data);

                for(i = 0; i<jObject.length; i++){
                    if(jObject[i]['name'] != opt_val){
                        $('.team-not-here').append("This team isnt competing here")
                    }
                }

            })

            })
                

        </script>


{%endblock content%}