{%extends 'users/base.html'%}
    {% load widget_tweaks %}
    {%block styles%}
    {%endblock styles%}
    {%block content%}
    <script>
        function changeName() {

            getComps();

            var teamNumber = document.getElementById("teamNumber").value;

            $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple", {
                "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
            }, function (data) {
                var jObject = (data);
                $("#nickname").html(jObject['nickname']);

            })
        }
    </script>
    <div>
        <div class=" bg-gray-50 dark:bg-dark">
            <!-- Desktop sidebar -->
            <!-- Mobile sidebar -->
            <!-- Backdrop -->
            <div class="">
                <main class=" overflow-y-auto">
                    <div class="container mx-auto grid">
                        <div class=>
                            <h2 class="my-6 mb-0 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                                Match Scouting
                            </h2>
                            <h2 class='mb-3 mt-1 text-xl font-semibold text-gray-400 text-left' id='nickname'></h2>
                        </div>
                        <center>
                            <div>
                                    {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == "error" %}
                                        <div class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-red-100 bg-red-500 rounded-xl shadow-md focus:outline-none focus:shadow-outline-blue"
                                            href="https://github.com/estevanmaito/windmill-dashboard">
                                            <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                
                                                <span>{{message}}</span>
                                
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if message.tags == "success" %}
                                        <div class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-green-100 bg-green-500 rounded-xl shadow-md focus:outline-none focus:shadow-outline-blue"
                                            href="https://github.com/estevanmaito/windmill-dashboard">
                                            <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                </svg>
                                
                                                <span>{{message}}</span>
                                
                                            </div>
                                        </div>
                                        {% endif %}
                                       
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </center>
                        <div class="formContents">
                            <form method="post">
                                {% csrf_token %}
                                <p id="label" class='mt-4 mb-2 dark:text-white'>Team number</p>
                                {{ form.team_num|attr:"class:form-single"|attr:"placeholder:00"|attr:"id:teamNumber" |attr:"name: teamNumber"|attr:"onchange:changeName()"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>Select Competition</p>
                                <select id='select-comp-dropdown' class='dd-single'>
                                    <option>Select Competition</option>
                                    <!--THIS COULD BE TEMPORAY IF WE FIGURE OUT HOW TO ADD COMPS TO A DJANGO SELECT WIDGET-->
                                    <script>

                                            function getComps() {
                                                $.get("https://www.thebluealliance.com/api/v3/team/frc" + $('#teamNumber').val() +"/events/2022", {
                                                    "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
                                                }, function (data) {
                                                    var jObject = (data);

                                                    for (i = 0; i < 5; i++) {
                                                        console.log(jObject[i]['name'])
                                                        $('#select-comp-dropdown').append(
                                                            '<option>' + jObject[i][
                                                                'name'
                                                            ] + '</option>')
                                                    }

                                                })
                                            }

                                        document.getElementById('select-comp-dropdown').addEventListener("change",
                                            function () {
                                                var comp = document.getElementById("select-comp-dropdown").value;
                                                console.log(comp);
                                                document.getElementById("comp").value = comp;
                                            });
                                    </script>
                                </select>

                                <div class='hidden'>
                                    {{form.competition|attr:"class:form-single"|attr:"placeholder:Competition"|attr:"id:comp" }}
                                </div>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>Match number</p>
                                {{form.match_number|attr:"class:form-single"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>Did the robot leave the tarmac</p>
                                {{form.left_tarmac|attr:"class:dd-single"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>How many balls were scored during auto in the lower hub</p>
                                {{form.auto_lower|attr:"class:form-single"|attr:"placeholder:0"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>How many balls were scored during auto in the upper hub</p>
                                {{form.auto_upper|attr:"class:form-single"|attr:"placeholder:0"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>How many incorrect balls were scored during auto</p>
                                {{form.auto_upper|attr:"class:form-single"|attr:"placeholder:0"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>How many balls were scored during teleop in the lower hub</p>
                                {{form.lower|attr:"class:form-single"|attr:"placeholder:0"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>How many balls were scored during teleop in the upper hub</p>
                                {{form.upper|attr:"class:form-single"|attr:"placeholder:0"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>How many incorrect balls were scored during teleop</p>
                                {{form.opposite_color|attr:"class:form-single"|attr:"placeholder:0"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>What level did the robot climb to</p>
                                {{form.robot_climb|attr:"class:dd-single"}}
                                <br>

                                <p id="label" class='mt-4 mb-2 dark:text-white'>What percent of defense was played *approx.</p>
                                {{form.defense_percentage|attr:"class:form-single"|attr:"placeholder:0"}}
                                <br>

                                <label id="label" class='mt-4 mb-2 dark:text-white'>Notes</label>
                                <!--<textarea class="form-control" id="notes-text" rows="3"></textarea> -->
                                {{ form.notes|attr:"class:form-single"|attr:"rows:3"|attr:"id: notes-text" }}

                                <button type="submit" class="btn-default mt-3">
                                    
                                    <p class='font-semibold text-white'>Submit Data</p>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{%endblock content%}