{%extends 'users/base.html'%}

{%block styles%}
{%endblock styles%}

{%block content%}



<div class="flex h-screen  dark:bg-dark bg-gray-50">
  <div class="flex flex-col flex-1 w-full">
    <main class="">
      <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
          Account Settings
        </h2>
       
          <form method='post'>
            {% csrf_token %}
            <p id="label" class='mt-4 mb-2 dark:text-white'>Email</p>
            {{form.email}}
            
            <p id="label" class='mt-4 mb-2 dark:text-white'>Username</p>
            {{form.username}}

            <button class='btn-default mt-4' id='submit-form' type='submit'>Submit</button>
          </form>

        
    
      </div>
    </main>
  </div>
</div>
{%endblock content%}