{% load static %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <title>FRCS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../static/users/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  <link rel="stylesheet" href="../../static/users/assets/css/templatemo-lava.css">
  <link rel="stylesheet" href="../../static/users/assets/css/style.css">

  <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.min.css" />

  <link rel="stylesheet" href="../../static/users/assets/css/tailwind.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  
  <link rel="shortcut icon" href="../../static/users/assets/images/favicon.png">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  {%block styles%}
  {%endblock styles%}
</head>

<body style='font-family: poppins !important' class='bg-gray-50 dark:bg-dark'>

  <section class="pt-8 container">
    <nav class="relative flex justify-between items-center">
      <a href='{% url "home-view" %}'
        class="text-2xl text-gray-900 dark:text-white font-bold flex space-x-2 hover:no-underline">
        <img class="h-10" src="../../static/users/assets/images/logo.png" alt="" width="auto">
        <p class='font-bold text-3xl ml-2'>FRCS</p>
      </a>
      <div class="lg:hidden">
        <button class="navbar-burger flex items-center p-3 hover:bg-transparent text-gray-900 rounded">
          <svg class="w-10 h-3" width="39" height="13" viewbox="0 0 39 13" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect width="39" height="2" rx="1" fill="currentColor"></rect>
            <rect x="19" y="11" width="20" height="2" rx="1" fill="currentColor"></rect>
            <title>Mobile menu</title>
          </svg>
        </button>
      </div>
      <div class="hidden lg:block ml-auto">
        <ul class="flex items-center space-x-10 text-lg font-bold dark:text-white">
          <li><a class="hover:no-underline transition duration-300" href="{% url 'home-view' %}" data-config-id="link1">Home</a></li>

          
          {% if user.is_authenticated %}
          <li><a class="hover:no-underline transition duration-300" href="{% url 'scouthub-view' %}" data-config-id="link2">Data Hub</a></li>
          <li><a class="hover:no-underline transition duration-300" href="{% url 'gamedatahub-view' %}" data-config-id="link2">Game Scout</a>
          </li>
          <li><a class="hover:no-underline transition duration-300" href="{% url 'pitdatahub-view' %}" data-config-id="link2">Pit Scout</a></li>
          {% if user.is_admin %}
          <li><a class="hover:no-underline transition duration-300" href="{% url 'management-view' %}" data-config-id="link2">Team</a></li>
          {% endif %}
          {% endif %}
          {% if user.is_authenticated %}
          <li><a class="transition duration-300" href="{% url 'profile-view' %}" data-config-id="link2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              {% if not request.user.profile.first_name %}
              <span class="h-3 w-3 bg-blue-500 absolute top-1 rounded-full"></span>
              {% endif %}
            </a>
          </li>

          <li><a class="hover:text-red-600 duration-300" href="{% url 'logout-view' %}" data-config-id="link2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
              </svg>
            </a>
          </li>

          {% else %}
          <li><a class="hover:underline" href="{% url 'login-view' %}" data-config-id="link2">Login</a></li>
          {% endif %}
        </ul>

      </div>

      {% if not user.is_authenticated %}
      <div class="hidden lg:block"><button
          class="inline-block px-10 py-2 ml-10 font-bold bg-blue-500 hover:bg-blue-600 dark:text-black text-white  dark:bg-blue-500 rounded-full transition duration-200"
          onclick='window.location.href ="{% url 'register-view' %}"'>Register</button></div>
      {% endif %}
    </nav>
    <div class="hidden navbar-menu relative z-50">
      <div class="navbar-backdrop fixed inset-0 bg-blue-600 opacity-80"></div>
      <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-8 bg-gray-800 overflow-y-auto">
        <div class="flex items-center mb-16 pr-6">
          <a class="ml-10 text-2xl text-white font-bold flex space-x-2" href="#" data-config-id="brand">
            <img class="h-10" src="../../static/users/assets/images/logo.png" alt="" width="auto">
            <p class='text-2xl font-bold text-white'>FRCS</p>
          </a>
        </div>
        <div>
          <ul class=''>
            <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-2 text-xl text-white hover:bg-gray-500 rounded-xl"
                href="{% url 'home-view' %}" data-config-id="link1">Home</a></li>
            {% if user.is_authenticated %}
            <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-2 text-xl text-white hover:bg-gray-500 rounded-xl"
                href="{% url 'scouthub-view' %}" data-config-id="link2">Data Hub</a></li>
            <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-2 text-xl text-white hover:bg-gray-500 rounded-xl"
                href="{% url 'gamedatahub-view' %}" data-config-id="link2">Game Scout</a></li>
            <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-2 text-xl text-white hover:bg-gray-500 rounded-xl"
                href="{% url 'pitdatahub-view' %}" data-config-id="link2">Pit Scout</a></li>
            <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-2 text-xl text-white hover:bg-gray-500 rounded-xl"
                href="{% url 'profile-view' %}" data-config-id="link2">Profile</a></li>
            {% if user.is_admin %}
            <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-2 text-xl text-white hover:bg-gray-500 rounded-xl"
                href="{% url 'management-view' %}" data-config-id="link2">Team</a></li>
            {% endif %}
            <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-2 text-xl text-white hover:bg-gray-500 rounded-xl"
                href="{% url 'logout-view' %}" data-config-id="link2">Logout</a></li>
            {% else %}
            <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-4 text-xl text-white hover:bg-gray-500 rounded-xl" href="{% url 'login-view' %}"
                data-config-id="link3">Login</a></li>
                <li class="mb-1 px-10 hover:no-underline transition duration-300"><a class="block pl-8 py-4 text-xl text-white hover:bg-gray-500 rounded-xl" href="{% url 'register-view' %}"
                  data-config-id="link3">Register</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="mt-auto px-10">

          <p class="mt-6 mb-4 text-lg text-center text-white">
            <span data-config-id="copy">2021 &copy; FRCS. All rights reserved.</span>
          </p>
        </div>
      </nav>
    </div>
  </section>

  </div>
  {%block content%}

  {% endblock content %}




  <section data-config-id="background">

    <div class="py-20 bg-gray-50 dark:bg-dark radius-for-skewed ">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-1/3 mb-16 lg:mb-0">

            <a class="mb-3 text-3xl font-bold leading-none flex hover:no-underline" href="{% url 'home-view' %}">
              <img class="h-16" src="../../static/users/assets/images/logo.png" alt="" width="auto">
              <h1 class='mt-2 ml-2 text-5xl dark:text-white'>FRCS</h1>
            </a>
            <p class="mb-4 max-w-sm text-gray-400 leading-loose">Thank you for choosing FRCS. Follow us on social media,
              and continue to support us</p>
            <div>
              <a class="transition text-gray-500 inline-block w-10 mr-2 p-2 bg-white hover:bg-gray-100 rounded">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-4 transition text-gray-500 inline-block w-10 mr-2 p-2 bg-white hover:bg-gray-100 rounded">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-4 transition text-gray-500 inline-block w-10 mr-2 p-2 bg-white hover:bg-gray-100 rounded">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-4 transition text-gray-500 inline-block w-10 mr-2 p-2 bg-white hover:bg-gray-100 rounded">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>

            </div>
          </div>
          <div class="w-full lg:w-2/3 lg:pl-16 flex flex-wrap justify-between">
            <div class="w-full md:w-1/3 lg:w-auto mb-16 md:mb-0">
              <h3 class="mb-6 text-2xl font-bold text-black dark:text-white" data-config-id="03_header1">Important Links
              </h3>
              <ul>
                {% if user.is_authenticated %}
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="{% url 'scouthub-view' %}">Data Hub</a>
                </li>
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="{% url 'gamedatahub-view' %}">Game Scout</a>
                </li>
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="{% url 'pitdatahub-view' %}">Pit Scout</a>
                </li>
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="{% url 'profile-view' %}">Profile</a>
                </li>
                {% if user.is_admin %}
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="{% url 'management-view' %}">Team</a>
                </li>
                {% endif %}

                <li class="mb-4"><a class="text-gray-800 hover:text-red-500 dark:text-gray-400" href="{% url 'logout-view' %}">Logout</a></li>

                {% else %}
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="{% url 'register-view' %}">Register</a>
                </li>
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="{% url 'login-view' %}">Login</a></li>

                {% endif %}
              </ul>
            </div>
            <div class="w-full md:w-1/3 lg:w-auto mb-16 md:mb-0">
              <h3 class="mb-6 text-2xl font-bold text-black dark:text-white">Learn More</h3>
              <ul>
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="#">About Us</a>
                </li>
                <li><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" href="#">Learn More</a></li>
              </ul>
            </div>
            <div class="w-full md:w-1/3 lg:w-auto">
              <h3 class="mb-6 text-2xl font-bold text-black dark:text-white" data-config-id="03_header3">Team 810</h3>
              <ul>
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" target="_blank"
                    href="https://smithtownrobotics.com/about/">Our Team</a></li>
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" target="_blank"
                    href="https://smithtownrobotics.com/">Website</a></li>
                <li class="mb-4"><a class="text-gray-800 hover:text-gray-600 dark:text-gray-400" target="_blank"
                    href="https://smithtownrobotics.com/contact/">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <p class="lg:text-center text-sm text-gray-400 border-t border-gray-800 pt-12 mt-16" data-config-id="copy">
          &copy; 2021. All rights reserved.</p>
      </div>
    </div>

  </section>

  <script src="../../static/users/assets/js/jquery-2.1.0.min.js"></script>

  <script src="../../static/users/assets/js/bootstrap.min.js"></script>

  <script src="../../static/users/assets/js/scrollreveal.min.js"></script>

  <script src="../../static/users/assets/js/jquery.counterup.min.js"></script>

  <script src="../../static/users/assets/js/script.js"></script>






  <script src="../../static/users/assets/js/requirejs.min.js"></script>


  {%block scripts%}
  {%endblock scripts%}


</body>

</html>