{% extends 'users/base.html' %}
{% block styles %}
{% endblock styles %}
{% block content %}
    <body>
        <div class=" flex items-center justify-center px-4 sm:px-6 lg:px-8 bg-gray-50 dark:bg-dark">
            <div class="max-w-md w-full space-y-8">
                <div>
                    <h2 class="mt-6 text-center text-4xl font-extrabold text-black dark:text-white""> Login
                    </h2>
                    <p class="mt-2 text-center text-sm text-black dark:text-white">
                        Or <a href="{% url 'register-view' %}"  class="font-medium text-black dark:text-white"">
                        register
                    </a>
                </p>
            </div>
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == "warning" %}
                <div class="flex items-center justify-between p-4 text-sm font-semibold text-red-100 bg-red-500 rounded-xl shadow-md focus:outline-none focus:shadow-outline-blue"
                    href="https://github.com/estevanmaito/windmill-dashboard">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                clip-rule="evenodd" />
                        </svg>
                        <span>{{message}}</span>
                    </div>
                </div>
                {% endif %}
               
            {% endfor %}
        {% endif %}
            <form class="mt-8 space-y-6" action="#" method="POST">
                {% csrf_token %}
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="email-address" class="sr-only">Username</label>
                        {{ form.query }}
                        <!-- <input id="email-address"
        name="email"
        type="email"
        autocomplete="email"
        required
        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-black placeholder-black text-gray-900 rounded-t-md focus:outline-none focus:ring-black focus:border-black focus:z-10 sm:text-sm"
        placeholder="Email address"> -->
                    </div>
                    <div>
                        <label for="password" class="sr-only">Password</label>
                        {{ form.password }}
                        <!-- <input id="password"
        name="password"
        type="password"
        autocomplete="current-password"
        required
        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:black focus:border-black focus:z-10 sm:text-sm"
        placeholder="Password"> -->
                    </div>
                </div>
                {% comment %} <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <label for="remember-me"
                               class="ml-2 block text-sm invisible text-black dark:text-white">Remember me</label>
                    </div>
                    <div class="text-sm">
                        <a href="{% url 'password_reset' %}"
                           class="font-medium text-black dark:text-white">Forgot your password?</a>
                    </div>
                </div> {% endcomment %}
                <div>
                    <button type="submit" class="btn-default">
                        <p class='font-semibold text-white'>
                            Sign In
                        </p>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
