{%extends 'users/base.html'%}
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="../../static/users/assets/css/profile.css">


{%block styles%}
{%endblock styles%}

{%block content%}
<script src="https://code.jquery.com/jquery-3.5.0.slim.js"
  integrity="sha256-sCexhaKpAfuqulKjtSY7V9H7QT0TCN90H+Y5NlmqOUE=" crossorigin="anonymous"></script>

<script>
  var options = {
    bottom: '64px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '0.5s', // default: '0.3s'
    mixColor: '#dedede', // default: '#fff'
    backgroundColor: '#fff', // default: '#fff'
    buttonColorDark: '#100f2c', // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);

  function toggle() {
    darkmode.toggle();

  }
</script>


<script type="text/javascript">
  var team_num = '{{user.team_num}}';
</script>






<div class="flex h-screen bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col flex-1 w-full">   
        <main class="h-full overflow-y-auto">
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Profile
                </h2>
                <div class='flex'>
                  <div>
                    <img src='../../../profile-pics/{{request.user.profile.image}}' class='h-28 w-28 rounded-xl mr-3'>
                  </div>
                  <div>
                {% if user.profile.first_name %}
                  <h1 class="text-5xl font-bold">{{user.profile.first_name}} {{user.profile.last_name}}</h1>
                  {% else %}
                  <h1 class="text-5xl font-bold">{{user.username}}</h1>
                  {% endif %} <p id='nickname' style="font-weight: 700;"></p>
                  <p >{{role}}</p>
                  {%if user.is_admin%}
                  <p >Your team code is: <strong>{{code}}</strong></p>
                  <p><strong>{{phonetic}}</strong></p>
                  {%endif%}
                  </div>
                  </div>

                  <h2 class="mb-3 mt-10 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Personal Entries
                </h2>
                <div class="flex flex-col w-full mx-auto">
                    <div class="-my-2  sm:-mx-6 lg:-mx-8">
                      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class=" overflow-hidden border-b border-gray-200 sm:rounded-md">
                          
                          <table class="min-w-full divide-y divide-gray-200" id='data-table'>
                            <thead class="bg-white">
                              <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                  Team
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                  Data Type
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                  View Data
                                </th>

                              </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                              {% for stat in result_list %}
                              <tr>
                                
                                <td class=" py-4 whitespace-nowrap">
                                    <div class="ml-4">
                                      <div class="text-sm font-medium text-black">
                                        <p class='text-black font-semibold'>The Mechanical Bulls</p>
                                        <p class='text-gray-500 font-semibold text-sm'>{{stat.team.team_num}}</p>
                                        

                                      </div>
                                     
                                  </div>
                                </td>
                                {% if stat.match_id %}
                                <td class="px-4 py-3 text-xs float-right">
                                  <span
                                    class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-green-700 dark:text-green-100"
                                  >
                                    Match Data
                                  </span>
                                </td>
          
                                {% else %}
                                <td class="px-4 py-3 text-xs float-right" style='margin-top: 13px;'>
                                  <span
                                    class="px-2 py-1 font-semibold leading-tight text-blue-700 bg-blue-100 rounded-full dark:bg-green-700 dark:text-green-100"
                                  >
                                    Pit Data
                                  </span>
                                </td>
          
                                {% endif %}

                                {% if stat.match_id %}
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                  <a href="{% url 'gamedata-view' stat.pk %}"  class="text-black font-bold">View Data</p>
                                </td>
                                {% else %}
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                  <a href="{% url 'pitdata-view' stat.pk %}"  class="text-black font-bold">View Data</p>
                                </td>
          
                                {% endif %}
                                
                               
                                
                              </tr>
                              {% endfor %}

                  

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
            </div>
        </main>
    </div>
</div>



<div style='margin-left: 12.5%;'>
  {% if user.profile.first_name %}
  <h1 id="loginStats" class="display-4">{{user.profile.first_name}} {{user.profile.last_name}}</h1>
  {% else %}
  <h1 id="loginStats" class="display-4">{{user.username}}</h1>
  {% endif %} <p id='nickname' style="font-weight: 700;"></p>
  <p id='head-role' style="font-weight: 500;">{{role}}</p>
  {%if user.is_admin%}
  <p style='float: left; ' id='team-code'>Your team code is:</p>
  <p id='team-code'><strong> &nbsp; {{code}}</strong></p>
  <p id='team-code'>{{phonetic}}</p>
  {%endif%}
  <div style='padding-top: 10px; float: left; padding-right: 10px;'>
    <div>
      <button style='margin-right: 10px; border-radius: 5px;'
        onclick="window.location.href='{% url 'profile-settings-view' user.username %}'" type="button"
        class="btn btn-outline-light">Edit Profile</button>
      <div class="btn-group">
        <button style='border-radius: 5px;' type="button" id="profile-drop-btn"
          class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
          &bull; &bull; &bull; <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a class='dropdown-item' href="{% url 'account-settings-view' user.username %}">Edit Account</a></li>
          <li><a class='dropdown-item' href="{% url 'image-upload-view' user.username %}">Edit Profile Picture</a></li>
          <li><a class='dropdown-item' href="#">Edit Password</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div style='padding-top: 10px;'>
    <div class="dropdown">
    </div>
  </div>
  <br>
  <div>
    <div style='width: 95%;' class="table table-responsive">
      <table style="text-align: center;" class="table table-borderless">
        <thead>
          <tr>
            <th style="padding-left: 0px !important;" scope="col"><strong
                style='float: left; overflow: hidden; white-space: -moz-pre-space;'><a id='profile-game'
                  style='font-weight: bold; color: black;' href="{% url 'profile-view' %}">Match Entries &nbsp;<a
                    style='font-weight: 300;'>{{game_num}}</a></a></strong></th>
            <th scope="col"><strong style='float: left; overflow: hidden; white-space: -moz-pre-space;'><a
                  href="{% url 'profile-pit-view'  %}" style='font-weight: bold; color: #616161;'>Pit Entries &nbsp;<a
                    style='font-weight: 300;'>{{pit_num}}</a></a></strong></th>
            <th scope="col"><strong style='float: left; overflow: hidden; white-space: -moz-pre-space;'><a
                  href="{% url 'team-match-view'  %}" style='font-weight: bold; color: #616161;'>Team Match Entries
                  &nbsp;<a style='font-weight: 300;'>{{team_game_num}}</a></a></strong></th>
            <th scope="col"><strong style='float: left; overflow: hidden; white-space: -moz-pre-space;'><a
                  href="{% url 'team-pit-view'  %}" style='font-weight: bold; color: #616161;'>Team Pit Entries &nbsp;<a
                    style='font-weight: 300;'>{{team_pit_num}}</a></a></strong></th>
            <th scope="col"><strong style='float: left; overflow: hidden; white-space: -moz-pre-space;'><a
                  href="{% url 'global-match-view'  %}" style='font-weight: bold; color: #616161;'>Global Match Entries
                  &nbsp;<a style='font-weight: 300;'>{{global_game_num}}</a></a></strong></th>
            <th scope="col"><strong style='float: left; overflow: hidden; white-space: -moz-pre-space;'><a
                  href="{% url 'global-pit-view'  %}" style='font-weight: bold; color: #616161;'>Global Pit Entries
                  &nbsp;<a style='font-weight: 300;'>{{global_pit_num}}</a></a></strong></th>
          </tr>
        </thead>
      </table>
    </div>
    <hr>
    <h1 style="font-size: 20px;">View Scouted Entires</h1>
    <label>View the Match data that people have scouted for your team</label>
    

          <div class="flex flex-col w-11/12 mx-auto">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200" id='data-table'>
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col"
                          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Team Number
                        </th>
                        <th scope="col"
                          class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                          View Data
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                      {% for stat in stats %}
                      <tr>

                        <td class=" py-4 whitespace-nowrap">
                          <div class="ml-4">
                            <div class="text-sm font-medium text-black">
                              <p class='text-black font-semibold'>{{stat.team.team_num}}</p>
                            </div>

                          </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                          <a href="{% url 'gamedata-view' stat.id %}" class="text-black">View</a>
                        </td>
                      </tr>
                      {% endfor %}

                      <!-- More people... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div>
  </div>
  <style>
    .darkmode--activated th#scout-team-col {
      color: white;
    }
  </style>


  
  <!-- page-wrapper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <style>


  </style>
  <script>
    jQuery(function ($) {

      $("#close-sidebar").click(function () {
        $(".page-wrapper").removeClass("toggled");
      });
      $("#show-sidebar").click(function () {
        $(".page-wrapper").addClass("toggled");
      });
    });
    setInterval(function () {
      var color = $('.darkmode--activated .navigation-wrap').css('background-color');
      value = "rgb(33, 33, 33)"
      if (color == value) {
        $('#darkButton').html('DARK MODE')
      } else {
        $('#darkButton').html('LIGHT MODE')
      }
    }, 50)
  </script>
  <script src='../../static/users/assets/js/GetTeamStats.js'></script>
  </body>

  </html>

  {%endblock content%}