{%extends 'users/base.html'%}
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="../../static/users/assets/css/profile.css">


{%block styles%}
{%endblock styles%}

{%block content%}
<script src="https://code.jquery.com/jquery-3.5.0.slim.js"
  integrity="sha256-sCexhaKpAfuqulKjtSY7V9H7QT0TCN90H+Y5NlmqOUE=" crossorigin="anonymous"></script>

<script>
  var options = {
    bottom: '64px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '0.5s', // default: '0.3s'
    mixColor: '#dedede', // default: '#fff'
    backgroundColor: '#fff', // default: '#fff'
    buttonColorDark: '#100f2c', // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);

  function toggle() {
    darkmode.toggle();

  }
</script>
<div class="flex h-screen  dark:bg-dark bg-gray-50 pt-3">
    <div class="flex flex-col flex-1 w-full">   
        <main class="">
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-white">
                    Profile
                </h2>
                {% if not request.user.profile.first_name %}
                <div class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-blue-100 bg-blue-500 rounded-lg shadow-md focus:outline-none focus:shadow-outline-blue"
                    href="https://github.com/estevanmaito/windmill-dashboard">
                    <div class="flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                      </svg>
                       
                        <span>To finish your profile, add your first and last name</span>
                        

                    </div>  
                           
                </div>
                {% endif %}
                <div class='flex'>
                  <div>
                    {% if not user.profile.image == 'http://127.0.0.1:8000/profile-pics/default.jpg' %}
                    <a class='cursor-pointer' href='{% url "image-upload-view" request.user.profile.id %}'><img src='../../../profile-pics/{{request.user.profile.image}}' class='h-36 w-36 rounded-xl mr-3'></a>
                    {% else %}
                    <img href='{% url "image-upload-view" request.user.profile.id %}' src='http://s3.amazonaws.com/37assets/svn/765-default-avatar.png' class='h-36 w-36 rounded-xl mr-3'>
                    {% endif %}
                  </div>
                  <div>
                {% if user.profile.first_name %}
                  <h1 class="text-5xl font-bold">{{user.profile.first_name}} {{user.profile.last_name}}</h1>
                  {% else %}
                  <h1 class="text-5xl font-bold">{{user.username}}</h1>
                  {% endif %} <p id='nickname' style="font-weight: 700;"></p>
                  <p >{{role}}</p>
                  {%if user.is_admin%}
                  <p >Your team code is: <strong>{{code}}</strong></p> 
                  <p><strong>{{phonetic}}</strong></p>
                  {%endif%}
                  <div class='mt-3 flex space-x-2'>
                    <a href='/{{user.profile.id}}/account-edit' class='transition text-white border-black bg-black hover:bg-gray-700 text-sm font-bold py-2 px-4 rounded-lg'>Edit Account</a>
                      <a href='/{{user.profile.id}}/profile-edit' class='transition text-white border-black bg-black hover:bg-gray-700 text-sm font-bold py-2 px-4 rounded-lg'>Edit Profile</a>
                  </div>
                  </div>
                  
                  </div>
                <div class='flex justify-between'>
                <h2 class="mb-3 mt-10 text-2xl font-semibold text-gray-700 dark:text-white">
                    Personal Entries
                </h2>
                <input id="search-bar" class="transition w-56 h-10 mt-7 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 ease-in-out" placeholder="Search Team">
                </div>
                <div class="flex flex-col w-full mx-auto ">
                    <div class="-my-2  sm:-mx-6 lg:-mx-8">
                      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class=" overflow-hidden border-b border-gray-200 rounded-xl">
                          
                          <table class="min-w-full divide-y divide-gray-200" id='data-table'>
                            <thead class="bg-white">
                              <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                  Team
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                  Data Type
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                  View Data
                                </th>

                              </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                              {% for stat in result_list %}
                              <tr>
                                
                                <td class=" py-4 whitespace-nowrap">
                                    <div class="ml-4">
                                      <div class="text-sm font-medium text-black">

                                        <p class='text-black font-semibold text-sm'>{{stat.team_num}}</p>
                                        

                                      </div>
                                     
                                  </div>
                                </td>
                                {% if stat.match_id %}
                                <td class="px-4 py-3 mt-2 text-xs float-right">
                                  <span
                                    class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                    Match Data
                                  </span>
                                </td>
          
                                {% else %}
                                <td class="px-4 py-3 text-xs float-right" style='margin-top: 13px;'>
                                  <span
                                    class="px-2 py-1 font-semibold leading-tight text-blue-700 bg-blue-100 rounded-full dark:bg-blue-700 dark:text-white">
                                    Pit Data
                                  </span>
                                </td>
          
                                {% endif %}

                                {% if stat.match_id %}
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                  <a href="{% url 'gamedata-view' stat.pk %}"  class="text-black font-bold">View Data</p>
                                </td>
                                {% else %}
                                
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                  <a href="{% url 'pitdata-view' stat.pk %}"  class="text-black font-bold">View Data</p>
                                </td>
          
                                {% endif %}

                              </tr>
                              {% endfor %}

                  

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
            </div>
        </main>
    </div>
</div>






  
  <!-- page-wrapper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <style>


  </style>
  <script>
    jQuery(function ($) {

      $("#close-sidebar").click(function () {
        $(".page-wrapper").removeClass("toggled");
      });
      $("#show-sidebar").click(function () {
        $(".page-wrapper").addClass("toggled");
      });
    });
    setInterval(function () {
      var color = $('.darkmode--activated .navigation-wrap').css('background-color');
      value = "rgb(33, 33, 33)"
      if (color == value) {
        $('#darkButton').html('DARK MODE')
      } else {
        $('#darkButton').html('LIGHT MODE')
      }
    }, 50)
  </script>
  <script src='../../static/users/assets/js/GetTeamStats.js'></script>
  </body>

  </html>

  {%endblock content%}