{%extends 'users/base.html'%}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/users/assets/css/profile.css">

{%block styles%}
{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>
<div class="flex h-screen  dark:bg-gray-900 bg-gray-50">
    <div class="flex flex-col flex-1 w-full">
        <main class="">
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Profile Settings
                </h2>


                <form method='post'>
                    {% csrf_token %}
                    <label id='label'>First Name</label>
                    {{form.first_name}}
                    <br>
                    <label id='label'>Last Name</label>
                    {{form.last_name}}
                    <hr>
                    <label id='label'>Settings</label>
                    <br>
                    {{p_form.viewPitResubmit}}
                    <label style='margin-left: 0%;' class="cbx" for="cbx"><span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg></span><span id="checkbox-text">Redirect on Pit resubmit</span></label><br>
                    <label>If you submit scouting data that was already entered, you will be redirected to that
                        data</label><br>
                    {{p_form.relativeScoring}}
                    <label style='margin-left: 0%;' class="cbx" for="cbx1"><span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg></span><span id="checkbox-text">Switch Scoring </span></label><br>
                    <label>Switch the scoring values based on actual game piece values or singular game piece
                        values</label>
                    <br>
                    <label>* On for single values / Off for point values</label>
                    <button class='btn-default' id='submit-form' type='submit'>Submit</button>
                </form>

            </div>
        </main>
    </div>
</div>




<script>
    jQuery(function ($) {

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });
        setInterval(function () {
            var color = $('.darkmode--activated .navigation-wrap').css('background-color');
            value = "rgb(33, 33, 33)"
            if (color == value) {
                $('#darkButton').html('DARK MODE')
            } else {
                $('#darkButton').html('LIGHT MODE')
            }
        }, 50)



    });
</script>
<script>
    window.onload = function closeTab() {
        $(".page-wrapper").removeClass("toggled");
    }
</script>
<script src='../../static/users/assets/js/GetTeamStats.js'></script>
<script>
    var view = "{{viewPitResubmit}}"
    if (view == "True") {
        document.getElementById("cbx").checked = true;
    } else {
        document.getElementById("cbx").checked = false;
    }
    var score = "{{relativeScoring}}"
    if (score == "True") {
        document.getElementById("cbx").checked = true;
    } else {
        document.getElementById("cbx").checked = false;
    }

    var f_name = '{{p_fn}}'
    var l_name = '{{p_ln}}'
    document.getElementById("form-first_name").value = f_name;
    document.getElementById("form-last_name").value = l_name;
</script>
</body>

</html>
{%endblock content%}