{%extends 'users/base.html'%}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{%block styles%}
{%endblock styles%}
{%block content%}

<div class="flex h-screen  dark:bg-dark bg-gray-50">
  <div class="flex flex-col flex-1 w-full">
    <main class="">
      <div class="container mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
          Profile Settings
        </h2>


        <form method='post'>
          {% csrf_token %}
          <p id="label" class='mt-4 mb-2 dark:text-white'>First Name</p>
          {{form.first_name}}
          <br>
          <label id='label' class='mt-4 mb-2 dark:text-white'>Last Name</label>
          {{form.last_name}}

          <label id='label' class='mt-4 mb-2 dark:text-white'>Settings</label>
          <br>
          {{p_form.relativeScoring}}
          <label style='margin-left: 0%;' class="cbx" for="cbx1"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg></span><span id="checkbox-text" class='dark:text-white'>Switch Scoring </span></label><br>
          <label class='dark:text-white'>Switch the scoring values based on actual game piece values or singular game
            piece
            values</label>
          <br>
          <label class='dark:text-white'>* On for single values / Off for point values</label>
          <button class='btn-default' id='submit-form' type='submit'>Submit</button>
        </form>

        <fieldset class="checkbox-group">
          <legend class="checkbox-group-legend" class=''>
            <p class='dark:text-white text-black mt-3'>Choose your theme</p>
          </legend>
          <div class="checkbox">
            <label class="checkbox-wrapper">
              <input type="checkbox" id='light-cbx' class="checkbox-input" onclick='lightToggled()' />
              <span class="checkbox-tile">
                <span class="checkbox-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                  </svg>
                </span>
                <span class="checkbox-label">Light Mode</span>
              </span>
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-wrapper">
              <input type="checkbox" id='dark-cbx' class="checkbox-input" onclick=darkToggled() checked />
              <span class="checkbox-tile">
                <span class="checkbox-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                  </svg>
                </span>
                <span class="checkbox-label">Dark Mode</span>
              </span>
            </label>
          </div>
        </fieldset>

      </div>
    </main>
  </div>
</div>

<style>

</style>

<script>
  //check if checkbox is toggled on

  $(document).ready(function () {
    (body).hasClass('dark') ? darkToggled() : lightToggled();
  })

  function darkToggled() {
    document.getElementById("light-cbx").checked = false;
    document.getElementById("dark-cbx").checked = true;
  }

  function lightToggled() {
    document.getElementById("light-cbx").checked = true;
    document.getElementById("dark-cbx").checked = false;
  }
</script>
{%endblock content%}