{%extends 'users/base.html'%}

{%block styles%}
<script src="../../static/users/assets/js/jquery-2.1.0.min.js"></script>

{%endblock styles%}
{%block content%}
    <div class="flex items-center justify-center px-4 sm:px-6 lg:px-8 bg-gray-50 dark:bg-dark">
      
        <div class="max-w-md w-full space-y-8">
          <div>
            
            <h2 class="mt-6 text-black dark:text-white text-center text-4xl font-extrabold">
              Register an account
            </h2>
            
            <p class="mt-2 text-center text-sm text-black dark:text-white">
                Or
                <a href="{% url 'login-view' %}"  class="font-medium  text-black dark:text-white">
                  Login
                </a>
              </p>
          </div>
          {% if messages %}
            {% for message in messages %}
                {% if message.tags == "warning" %}
                <div class="flex items-center justify-between p-4 text-sm font-semibold text-red-100 bg-red-500 rounded-xl shadow-md focus:outline-none focus:shadow-outline-blue"
                    href="https://github.com/estevanmaito/windmill-dashboard">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                clip-rule="evenodd" />
                        </svg>
                        <span>{{message}}</span>
                    </div>
                </div>
                {% endif %}
               
            {% endfor %}
        {% endif %}
          <form class="mt-8 space-y-6" action="#" method="POST">
            {%csrf_token%}

            <div class="rounded-md shadow-sm -space-y-px">
              <div>
                <label for="email-address" class="sr-only">Username</label>
                {{form.username}}
                <!-- <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address"> -->
              </div>
              <div>
                <label for="password" class="sr-only">Email</label>
                {{form.email}}
                <!-- <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password"> -->
              </div>
              <div>
                <label for="password" class="sr-only">Password</label>
                {{form.password}}
                <!-- <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password"> -->
              </div>
              <div>
                <label for="password" class="sr-only">Password</label>
                <input id="confirm" name="confirm" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-black placeholder-black text-gray-900 focus:outline-none focus:ring-black focus:border-black focus:z-10 sm:text-sm darK:bg-secondary dark:placeholder-white dark:text-white" placeholder="Verify Password">
              </div>
              <div>
                <div class=''>{{form.team_num}}</div>
                <!-- <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password"> -->
              </div>
            </div>
            <!-- <legend class="checkbox-group-legend" style='color: black;'>Enter team code</legend> -->

           <!-- <center><div class="pin-component"></div></center> -->


            <fieldset class="checkbox-group">
                <legend class="checkbox-group-legend text-black dark:text-white">Choose your position</legend>
                <div class="checkbox">
                    <label class="checkbox-wrapper">
                        <input type="checkbox" id='mentor-cbx' class="checkbox-input" onclick='mentorToggled()' />
                        <span class="checkbox-tile ">
                            <span class="checkbox-icon ">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                  </svg>
                            </span>
                            <span class="checkbox-label">Mentor</span>
                        </span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="checkbox-wrapper">
                        <input type="checkbox" id='member-cbx' class="checkbox-input" onclick=memberToggled() checked />
                        <span class="checkbox-tile">
                            <span class="checkbox-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                                  </svg>
                            </span>
                            <span class="checkbox-label">Member</span>
                        </span>
                    </label>
                </div>                
            </fieldset>
            <div>
              <button type="submit" class="btn-default">
                <div>
                  {{form.is_team_admin}}
                  </div>
                <p class='font-semibold text-white'>Register</p>
              </button>
            </div>
            
          </form>
        </div>
      </div>
    

      

      <style>
        .checkbox-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            max-width: 600px;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
          }
          .checkbox-group > * {
            margin: 0.5rem 0.5rem;
          }
          
          .checkbox-group-legend {
            font-size: 1.5rem;
            font-weight: 700;
            color: #9c9c9c;
            text-align: center;
            line-height: 1.125;
            margin-bottom: 1.25rem;
          }
          
          .checkbox-input {
            clip: rect(0 0 0 0);
            -webkit-clip-path: inset(100%);
                    clip-path: inset(100%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
          }
          .checkbox-input:checked + .checkbox-tile {
            border-color: #3B82F6
            ;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            color: #3B82F6
            ;
          }
          .checkbox-input:checked + .checkbox-tile:before {
            transform: scale(1);
            opacity: 1;
            background-color: #3B82F6
            ;
            border-color: #3B82F6
            ;
          }
          .checkbox-input:checked + .checkbox-tile .checkbox-icon, .checkbox-input:checked + .checkbox-tile .checkbox-label {
            color: #3B82F6
            ;
          }
          .checkbox-input:focus + .checkbox-tile {
            border-color: #3B82F6
            ;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
          }
          .checkbox-input:focus + .checkbox-tile:before {
            transform: scale(1);
            opacity: 1;
          }
          
          .checkbox-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 7rem;
            height: 7rem;

            border-radius: 0.5rem;
            border: 2px solid #b5bfd9;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            transition: 0.15s ease;
            cursor: pointer;
            position: relative;
          }
          .checkbox-tile:before {
            content: "";
            position: absolute;
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            border: 2px solid #b5bfd9;
            background-color: #fff;
            border-radius: 50%;
            top: 0.25rem;
            left: 0.25rem;
            opacity: 0;
            transform: scale(0);
            transition: 0.25s ease;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }
          .checkbox-tile:hover {
            border-color: #3B82F6
            ;
          }
          .checkbox-tile:hover:before {
            transform: scale(1);
            opacity: 1;
          }
          
          .checkbox-icon {
            transition: 0.375s ease;
            color: #494949;
          }
          .checkbox-icon svg {
            width: 3rem;
            height: 3rem;
          }
          
          .checkbox-label {
            color: #707070;
            transition: 0.375s ease;
            text-align: center;
          }
      </style>

      <script>
          //check if checkbox is toggled on

            function mentorToggled() {
                    document.getElementById("cbx").checked = true;
                    document.getElementById("member-cbx").checked = false;
                    document.getElementById("mentor-cbx").checked = true;   

                    console.log(document.getElementById("cbx").checked)
            }

            function memberToggled() {
                document.getElementById("cbx").checked = false;

                document.getElementById("mentor-cbx").checked = false;
                document.getElementById("member-cbx").checked = true;   

                console.log(document.getElementById("cbx").checked);
        }

       
      </script>

        {%endblock content%}