@tailwind base;
@tailwind components;
@tailwind utilities;

.form-single {
    @apply transition w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 ease-in-out
}

.dd-single {
    @apply transition w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 ease-in-out
}


.btn-default{
    @apply inline-flex w-full items-center text-lg justify-center h-12 px-6 font-semibold tracking-wide text-white transition duration-200 bg-blue-500 rounded-lg hover:bg-blue-600
}

.form-search{
    @apply transition md:w-56 w-full h-10 mt-7 bg-gray-100  bg-opacity-50 rounded border-2 dark:border-transparent border-gray-700 focus:border-blue-500 dark:placeholder-gray-400 focus:bg-white focus:ring-2 focus:ring-white text-base outline-none text-gray-700 dark:text-white dark:bg-secondary  py-1 px-3 leading-8 ease-in-out
}