

.pin-component > input {

  text-align: center;
}

.pin-component {
margin-left: auto;
margin-right: auto;

}
.pin-component input::-webkit-outer-spin-button, .pin-component input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pin-component .pin-input {
  --margin: 5px;
  color: black;
  transition: 0.3s ease;
}
.pin-component .pin-input::placeholder {
  color: #bababa;
}
.pin-component .pin-input:disabled {
  background: #8a8a8a;
}
.pin-component .pin-input:not(:last-child):not(:first-child) {
  margin: 0 var(--margin);
}
.pin-component .pin-input:first-child {
  margin: 0 var(--margin) 0 0;
}
.pin-component .pin-input:last-child {
  margin: 0 0 0 var(--margin);
}
.pin-component .pin-input:focus {
  transform: scale(0.9);
  color: #b5bfd9  ;
}

.pin-input {
  background: #FFF;
  width: 40px;
  height: 50px;
  border-radius: 3px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  border: 2px solid #b5bfd9;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  color: #111;
}